@charset "utf-8";
#top {
	width: 980px;
	margin:0 auto;

}

#icon{
	text-align:right;
	height:27px;
	}
#icon li{
	list-style-type:none;
	vertical-align: bottom;
	}
#icon li span{
	margin-top:10px;
	vertical-align:bottom;
}
#icon li img{
	
	float:left;
}
#icon span{
	float:left;
	}
#top #nav {
	
	height: 45px;
	width: 980px;
	background-image: url(../../imgs/bk_gray_45px.png);
	border: 1px solid #e3e3e3;
	border-radius: 5px 5px 5px 5px;

}

#drag{
	margin:0 auto;
	z-index: 100;
	}