@charset "utf-8";
.icon{ background: url(../imgs/Icon_collect_1.png) no-repeat;width:48px; line-height:48px; display:inline-block;}  
.tu0101{background-position:  -0px -0px;} 
.tu0201{background-position: -65px -0px;}
.tu0301{background-position:-130px -0px;}
.tu0401{background-position:-195px -0px;}
.tu0501{background-position:-260px -0px;}
.tu0601{background-position:-325px -0px;}
.tu0102{background-position:  -0px -65px;}
.tu0202{background-position: -65px -65px;}
.tu0302{background-position:-130px -65px;}
.tu0402{background-position:-195px -65px;}
.tu0502{background-position:-260px -65px;}
.tu0602{background-position:-315px -65px;}
.tu0103{background-position:  -0px -130px;}
.tu0203{background-position: -65px -130px;}
.tu0303{background-position:-130px -130px;}
.tu0403{background-position:-195px -130px;}
.tu0503{background-position:-260px -130px;}
.tu0603{background-position:-325px -130px;}
.tu0104{background-position:  -0px -195px;}
.tu0204{background-position: -65px -195px;}
.tu0304{background-position:-130px -195px;}
.tu0404{background-position:-195px -195px;}
.tu0504{background-position:-260px -195px;}
.tu0604{background-position:-325px -195px;}
.tu0105{background-position:  -0px -260px;}
.tu0205{background-position: -65px -260px;}
.tu0305{background-position:-130px -260px;}
.tu0405{background-position:-195px -260px;}
.tu0505{background-position:-260px -260px;}
.tu0605{background-position:-325px -260px;}
.tu0106{background-position:  -0px -325px;}
.tu0206{background-position: -65px -325px;}
.tu0306{background-position:-130px -325px;}
.tu0406{background-position:-195px -325px;}
.tu0506{background-position:-260px -325px;}
.tu0606{background-position:-325px -325px;}
.tu0107{background-position:  -0px -390px;}
.tu0207{background-position: -65px -390px;}
.tu0307{background-position:-130px -390px;}
.tu0407{background-position:-195px -390px;}
.tu0507{background-position:-260px -390px;}
.tu0607{background-position:-325px -390px;}
.tu0108{background-position:  -0px -455px;}
.tu0208{background-position: -65px -455px;}
.tu0308{background-position:-130px -455px;}
.tu0408{background-position:-195px -455px;}
.tu0508{background-position:-260px -455px;}
.tu0608{background-position:-325px -455px;}
.tu0108{background-position:  -0px -520px;}
.tu0208{background-position: -65px -520px;}

