@charset "utf-8";
.icon15{ background: url(../imgs/Icon_collect_2.png) no-repeat;width:15px; line-height:15px; display:inline-block;} 
.icon15_15x01y01{background-position:  	0px	0px	;}
.icon15_15x02y01{background-position:  	-16px	0px	;}
.icon15_15x03y01{background-position:  	-32px	0px	;}
.icon15_15x04y01{background-position:  	-48px	0px	;}
.icon15_15x05y01{background-position:  	-64px	0px	;}
.icon15_15x06y01{background-position:  	-80px	0px	;}
.icon15_15x07y01{background-position:  	-96px	0px	;}
.icon15_15x08y01{background-position:  	-112px	0px	;}
.icon15_15x09y01{background-position:  	-128px	0px	;}
.icon15_15x10y01{background-position:  	-144px	0px	;}
.icon15_15x11y01{background-position:  	-160px	0px	;}
.icon15_15x12y01{background-position:  	-176px	0px	;}
.icon15_15x13y01{background-position:  	-192px	0px	;}
.icon15_15x14y02{background-position:  	-208px	-16px	;}
.icon15_15x15y03{background-position:  	-224px	-32px	;}
.icon15_15x01y02{background-position:  	0px	-16px	;}
.icon15_15x02y02{background-position:  	-16px	-16px	;}
.icon15_15x03y02{background-position:  	-32px	-16px	;}
.icon15_15x04y02{background-position:  	-48px	-16px	;}
.icon15_15x05y02{background-position:  	-64px	-16px	;}
.icon15_15x06y02{background-position:  	-80px	-16px	;}
.icon15_15x07y02{background-position:  	-96px	-16px	;}
.icon15_15x08y02{background-position:  	-112px	-16px	;}
.icon15_15x09y02{background-position:  	-128px	-16px	;}
.icon15_15x10y02{background-position:  	-144px	-16px	;}
.icon15_15x11y02{background-position:  	-160px	-16px	;}
.icon15_15x12y02{background-position:  	-176px	-16px	;}
.icon15_15x13y02{background-position:  	-192px	-16px	;}
.icon15_15x14y02{background-position:  	-208px	-16px	;}
.icon15_15x15y02{background-position:  	-224px	-16px	;}
.icon15_15x01y03{background-position:  	0px	-32px	;}
.icon15_15x02y03{background-position:  	-16px	-32px	;}
.icon15_15x03y03{background-position:  	-32px	-32px	;}
.icon15_15x04y03{background-position:  	-48px	-32px	;}
.icon15_15x05y03{background-position:  	-64px	-32px	;}
.icon15_15x06y03{background-position:  	-80px	-32px	;}
.icon15_15x07y03{background-position:  	-96px	-32px	;}
.icon15_15x08y03{background-position:  	-112px	-32px	;}
.icon15_15x09y03{background-position:  	-128px	-32px	;}
.icon15_15x10y03{background-position:  	-144px	-32px	;}
.icon15_15x11y03{background-position:  	-160px	-32px	;}
.icon15_15x12y03{background-position:  	-176px	-32px	;}
.icon15_15x13y03{background-position:  	-192px	-32px	;}
.icon15_15x14y03{background-position:  	-208px	-32px	;}
.icon15_15x15y03{background-position:  	-224px	-32px	;}
.icon15_15x01y04{background-position:  	0px	-48px	;}
.icon15_15x02y04{background-position:  	-16px	-48px	;}
.icon15_15x03y04{background-position:  	-32px	-48px	;}
.icon15_15x04y04{background-position:  	-48px	-48px	;}
.icon15_15x05y04{background-position:  	-64px	-48px	;}
.icon15_15x06y04{background-position:  	-80px	-48px	;}
.icon15_15x07y04{background-position:  	-96px	-48px	;}
.icon15_15x08y04{background-position:  	-112px	-48px	;}
.icon15_15x09y04{background-position:  	-128px	-48px	;}
.icon15_15x10y04{background-position:  	-144px	-48px	;}
.icon15_15x11y04{background-position:  	-160px	-48px	;}
.icon15_15x12y04{background-position:  	-176px	-48px	;}
.icon15_15x13y04{background-position:  	-192px	-48px	;}
.icon15_15x14y04{background-position:  	-208px	-48px	;}
.icon15_15x15y04{background-position:  	-224px	-48px	;}
.icon15_15x01y05{background-position:  	0px	-64px	;}
.icon15_15x02y05{background-position:  	-16px	-64px	;}
.icon15_15x03y05{background-position:  	-32px	-64px	;}
.icon15_15x04y05{background-position:  	-48px	-64px	;}
.icon15_15x05y05{background-position:  	-64px	-64px	;}
.icon15_15x06y05{background-position:  	-80px	-64px	;}
.icon15_15x07y05{background-position:  	-96px	-64px	;}
.icon15_15x08y05{background-position:  	-112px	-64px	;}
.icon15_15x09y05{background-position:  	-128px	-64px	;}
.icon15_15x10y05{background-position:  	-144px	-64px	;}
.icon15_15x11y05{background-position:  	-160px	-64px	;}
.icon15_15x12y05{background-position:  	-176px	-64px	;}
.icon15_15x13y05{background-position:  	-192px	-64px	;}
.icon15_15x14y05{background-position:  	-208px	-64px	;}
.icon15_15x15y05{background-position:  	-224px	-64px	;}
.icon15_15x01y06{background-position:  	0px	-80px	;}
.icon15_15x02y06{background-position:  	-16px	-80px	;}
.icon15_15x03y06{background-position:  	-32px	-80px	;}
.icon15_15x04y06{background-position:  	-48px	-80px	;}
.icon15_15x05y06{background-position:  	-64px	-80px	;}
.icon15_15x06y06{background-position:  	-80px	-80px	;}
.icon15_15x07y06{background-position:  	-96px	-80px	;}
.icon15_15x08y06{background-position:  	-112px	-80px	;}
.icon15_15x09y06{background-position:  	-128px	-80px	;}
.icon15_15x10y06{background-position:  	-144px	-80px	;}
.icon15_15x11y06{background-position:  	-160px	-80px	;}
.icon15_15x12y06{background-position:  	-176px	-80px	;}
.icon15_15x13y06{background-position:  	-192px	-80px	;}
.icon15_15x14y06{background-position:  	-208px	-80px	;}
.icon15_15x15y06{background-position:  	-224px	-80px	;}
.icon15_15x01y07{background-position:  	0px	-96px	;}
.icon15_15x02y07{background-position:  	-16px	-96px	;}
.icon15_15x03y07{background-position:  	-32px	-96px	;}
.icon15_15x04y07{background-position:  	-48px	-96px	;}
.icon15_15x05y07{background-position:  	-64px	-96px	;}
.icon15_15x06y07{background-position:  	-80px	-96px	;}
.icon15_15x07y07{background-position:  	-96px	-96px	;}
.icon15_15x08y07{background-position:  	-112px	-96px	;}
.icon15_15x09y07{background-position:  	-128px	-96px	;}
.icon15_15x10y07{background-position:  	-144px	-96px	;}
.icon15_15x11y07{background-position:  	-160px	-96px	;}
.icon15_15x12y07{background-position:  	-176px	-96px	;}
.icon15_15x13y07{background-position:  	-192px	-96px	;}
.icon15_15x14y07{background-position:  	-208px	-96px	;}
.icon15_15x15y07{background-position:  	-224px	-96px	;}
.icon15_15x16y07{background-position:  	-240px	-96px	;}
.icon15_15x01y08{background-position:  	0px	-112px	;}
.icon15_15x02y08{background-position:  	-16px	-112px	;}
.icon15_15x03y08{background-position:  	-32px	-112px	;}
.icon15_15x04y08{background-position:  	-48px	-112px	;}
.icon15_15x05y08{background-position:  	-64px	-112px	;}
.icon15_15x06y08{background-position:  	-80px	-112px	;}
.icon15_15x07y08{background-position:  	-96px	-112px	;}
.icon15_15x08y08{background-position:  	-112px	-112px	;}
.icon15_15x09y08{background-position:  	-128px	-112px	;}
.icon15_15x10y08{background-position:  	-144px	-112px	;}
.icon15_15x11y08{background-position:  	-160px	-112px	;}
.icon15_15x12y08{background-position:  	-176px	-112px	;}
.icon15_15x13y08{background-position:  	-192px	-112px	;}
.icon15_15x14y08{background-position:  	-208px	-112px	;}
.icon15_15x15y08{background-position:  	-224px	-112px	;}
.icon15_15x01y09{background-position:  	0px	-128px	;}
.icon15_15x02y09{background-position:  	-16px	-128px	;}
.icon15_15x03y09{background-position:  	-32px	-128px	;}
.icon15_15x04y09{background-position:  	-48px	-128px	;}
.icon15_15x05y09{background-position:  	-64px	-128px	;}
.icon15_15x06y09{background-position:  	-80px	-128px	;}
.icon15_15x07y09{background-position:  	-96px	-128px	;}
.icon15_15x08y09{background-position:  	-112px	-128px	;}
.icon15_15x09y09{background-position:  	-128px	-128px	;}
.icon15_15x10y09{background-position:  	-144px	-128px	;}
.icon15_15x11y09{background-position:  	-160px	-128px	;}
.icon15_15x12y09{background-position:  	-176px	-128px	;}
.icon15_15x13y09{background-position:  	-192px	-128px	;}
.icon15_15x14y09{background-position:  	-208px	-128px	;}
.icon15_15x15y09{background-position:  	-224px	-128px	;}
.icon15_15x01y10{background-position:  	0px	-144px	;}
.icon15_15x02y10{background-position:  	-16px	-144px	;}
.icon15_15x03y10{background-position:  	-32px	-144px	;}
.icon15_15x04y10{background-position:  	-48px	-144px	;}
.icon15_15x05y10{background-position:  	-64px	-144px	;}
.icon15_15x06y10{background-position:  	-80px	-144px	;}
.icon15_15x07y10{background-position:  	-96px	-144px	;}
.icon15_15x08y10{background-position:  	-112px	-144px	;}
.icon15_15x09y10{background-position:  	-128px	-144px	;}
.icon15_15x10y10{background-position:  	-144px	-144px	;}
.icon15_15x11y10{background-position:  	-160px	-144px	;}
.icon15_15x12y10{background-position:  	-176px	-144px	;}
.icon15_15x13y10{background-position:  	-192px	-144px	;}
.icon15_15x14y10{background-position:  	-208px	-144px	;}
.icon15_15x15y10{background-position:  	-224px	-144px	;}
.icon15_15x01y11{background-position:  	0px	-160px	;}
.icon15_15x02y11{background-position:  	-16px	-160px	;}
.icon15_15x03y11{background-position:  	-32px	-160px	;}
.icon15_15x04y11{background-position:  	-48px	-160px	;}
.icon15_15x05y11{background-position:  	-64px	-160px	;}
.icon15_15x06y11{background-position:  	-80px	-160px	;}
.icon15_15x07y11{background-position:  	-96px	-160px	;}
.icon15_15x08y11{background-position:  	-112px	-160px	;}
.icon15_15x09y11{background-position:  	-128px	-160px	;}
.icon15_15x10y11{background-position:  	-144px	-160px	;}
.icon15_15x11y11{background-position:  	-160px	-160px	;}
.icon15_15x12y11{background-position:  	-176px	-160px	;}
.icon15_15x13y11{background-position:  	-192px	-160px	;}
.icon15_15x14y11{background-position:  	-208px	-160px	;}
.icon15_15x15y11{background-position:  	-224px	-160px	;}
.icon15_15x01y12{background-position:  	0px	-176px	;}
.icon15_15x02y12{background-position:  	-16px	-176px	;}
.icon15_15x03y12{background-position:  	-32px	-176px	;}
.icon15_15x04y12{background-position:  	-48px	-176px	;}
.icon15_15x05y12{background-position:  	-64px	-176px	;}
.icon15_15x06y12{background-position:  	-80px	-176px	;}
.icon15_15x07y12{background-position:  	-96px	-176px	;}
.icon15_15x08y12{background-position:  	-112px	-176px	;}
.icon15_15x09y12{background-position:  	-128px	-176px	;}
.icon15_15x10y12{background-position:  	-144px	-176px	;}
.icon15_15x11y12{background-position:  	-160px	-176px	;}
.icon15_15x12y12{background-position:  	-176px	-176px	;}
.icon15_15x13y12{background-position:  	-192px	-176px	;}
.icon15_15x14y12{background-position:  	-208px	-176px	;}
.icon15_15x15y12{background-position:  	-224px	-176px	;}
.icon15_15x01y13{background-position:  	0px	-192px	;}
.icon15_15x02y13{background-position:  	-16px	-192px	;}
.icon15_15x03y13{background-position:  	-32px	-192px	;}
.icon15_15x04y13{background-position:  	-48px	-192px	;}
.icon15_15x05y13{background-position:  	-64px	-192px	;}
.icon15_15x06y13{background-position:  	-80px	-192px	;}
.icon15_15x07y13{background-position:  	-96px	-192px	;}
.icon15_15x08y13{background-position:  	-112px	-192px	;}
.icon15_15x09y13{background-position:  	-128px	-192px	;}
.icon15_15x10y13{background-position:  	-144px	-192px	;}
.icon15_15x11y13{background-position:  	-160px	-192px	;}
.icon15_15x12y13{background-position:  	-176px	-192px	;}
.icon15_15x13y13{background-position:  	-192px	-192px	;}
.icon15_15x14y13{background-position:  	-208px	-192px	;}
.icon15_15x15y13{background-position:  	-224px	-192px	;}
.icon15_15x01y14{background-position:  	0px	-208px	;}
.icon15_15x02y14{background-position:  	-16px	-208px	;}
.icon15_15x03y14{background-position:  	-32px	-208px	;}
.icon15_15x04y14{background-position:  	-48px	-208px	;}
.icon15_15x05y14{background-position:  	-64px	-208px	;}
.icon15_15x06y14{background-position:  	-80px	-208px	;}
.icon15_15x07y14{background-position:  	-96px	-208px	;}
.icon15_15x08y14{background-position:  	-112px	-208px	;}
.icon15_15x09y14{background-position:  	-128px	-208px	;}
.icon15_15x10y14{background-position:  	-144px	-208px	;}
.icon15_15x11y14{background-position:  	-160px	-208px	;}
.icon15_15x12y14{background-position:  	-176px	-208px	;}
.icon15_15x13y14{background-position:  	-192px	-208px	;}
.icon15_15x14y14{background-position:  	-208px	-208px	;}
.icon15_15x15y14{background-position:  	-224px	-208px	;}
.icon15_15x01y15{background-position:  	0px	-224px	;}
.icon15_15x02y15{background-position:  	-16px	-224px	;}
.icon15_15x03y15{background-position:  	-32px	-224px	;}
.icon15_15x04y15{background-position:  	-48px	-224px	;}
.icon15_15x05y15{background-position:  	-64px	-224px	;}
.icon15_15x06y15{background-position:  	-80px	-224px	;}
.icon15_15x07y15{background-position:  	-96px	-224px	;}
.icon15_15x08y15{background-position:  	-112px	-224px	;}
.icon15_15x09y15{background-position:  	-128px	-224px	;}
.icon15_15x10y15{background-position:  	-144px	-224px	;}
.icon15_15x11y15{background-position:  	-160px	-224px	;}
.icon15_15x12y15{background-position:  	-176px	-224px	;}
.icon15_15x13y15{background-position:  	-192px	-224px	;}
.icon15_15x14y15{background-position:  	-208px	-224px	;}
.icon15_15x15y15{background-position:  	-224px	-224px	;}
.icon15_15x01y16{background-position:  	0px	-240px	;}
.icon15_15x02y16{background-position:  	-16px	-240px	;}
.icon15_15x03y16{background-position:  	-32px	-240px	;}
.icon15_15x04y16{background-position:  	-48px	-240px	;}
.icon15_15x05y16{background-position:  	-64px	-240px	;}
.icon15_15x06y16{background-position:  	-80px	-240px	;}
.icon15_15x07y16{background-position:  	-96px	-240px	;}
.icon15_15x08y16{background-position:  	-112px	-240px	;}
.icon15_15x09y16{background-position:  	-128px	-240px	;}
.icon15_15x10y16{background-position:  	-144px	-240px	;}
.icon15_15x11y16{background-position:  	-160px	-240px	;}
.icon15_15x12y16{background-position:  	-176px	-240px	;}
.icon15_15x13y16{background-position:  	-192px	-240px	;}
.icon15_15x14y16{background-position:  	-208px	-240px	;}
.icon15_15x15y16{background-position:  	-224px	-240px	;}
